* {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 8px;
  border: 2px solid #000;
  padding: 5px;
}

.logo {
  margin-left: 10px;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
}

.links li {
  width: 70px;
  text-align: center;
}

.addNew {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.date {
  text-align: right;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 99vh;
  margin-top: 0;
}

.books {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
}

.container {
  padding: 5px;
  border: 1px solid #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  position: relative;
}

.container div {
  width: 160px;
  text-align: start;
}

.container .by {
  width: 30px;
}

.remove {
  margin-right: 10px;
  background-color: #fff;
  font-weight: 700;
  position: absolute;
  right: 0;
}

#form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#form input,
#form button {
  margin-top: 5px;
  border: 1px solid #000;
}

#add {
  width: 35px;
  text-align: center;
  align-self: flex-end;
  border: solid 2px #000;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfo p {
  width: 550px;
}

footer {
  position: absolute;
  bottom: 0;
  border: 2px solid #000;
  width: 100%;
  padding: 5px;
}

.hidden {
  display: none;
}
